html{
    scroll-behavior: smooth;
}
.top{
    background-image: url(../images/h_img.jpg);
    background-size: cover;
    background-position:center center ;
    color:white;
    font-family: 'Open Sans', 'Oxygen';
    text-align: center;
    padding-top:17%;
}
.click{
    margin: 20px;
    margin-top:10%;
}
.aboutus{
    margin-top:70px;
    text-align: center;
    font-family: 'Open Sans', 'Oxygen', 'Arvo';
}
.services{
    background-image: url(../images/s_image.jpg);
    background-size: cover;
    text-align: center;
    font-size: 18px;
    color:white;
}
#services h4{
    font-family: 'Gabriela', serif;
}
#services{
    background-color: rgba(0,0,0,0.4);
    padding-top: 10%;
    padding-bottom: 10%;
}
.whatWeDo{
    margin:5%
}
.whatWeDo h4{
    text-align: center;
    font-family: 'Open Sans', 'Oxygen', 'Arvo';
    margin-bottom:10%;
}
#design{
    display:none;
}
#development{
    display:none;
}
#product{
    display:none;
}
.portfolio{
    padding: 0;
    margin: 0;
    text-align: center;
}
/* .col-md-3 img{
    height:250px
} */
/* .container{
    padding-right: 10px;
    padding-left: 10px;
} */

.port1, .port2, .port3, .port4, .port5, .port6, .port7, .port8{
    display: none;
    background-color:rgba(255, 255, 255, 0.456);
    position: absolute; 
    top:0%;
    color: black;
    width: 100%;
    height: 100%;
    font-size:34px;
}
.contact{
    margin-top:5%;
    background-image: url(../images/c_image.jpg);
    color:white;
    text-align: center;

}
#mc_embed_signup{ 
    clear:left; 
    font:14px Helvetica,Arial,sans-serif;
 }

.transparent input{
    background-color: transparent;
    margin-left:20%;
}
.transparent textarea{
    background-color: transparent;
    width: 55%;
    margin-left:15%;
}
.form-control::placeholder{
    color:white;
}
button{
    margin-left:40%;
}
#output{
    width: 100%;
    height:100%;
    background-color: turquoise;
}
footer{
    text-align: center;
    align-items: center;
    margin-top:5%;
}
#flex-container{
    display: flex;
    flex-direction: ;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: space-between;

}
.flex-itemOne{
    height: 300px;
    width:250px;
}
